@using System.Threading.Tasks
@using CSC273_NTebeje_Final_Project.Auth
@using Microsoft.AspNetCore.Identity

@model LoginViewModel

@inject SignInManager<IdentityUser> SignInManager

<h2>Please log in to your account or <a asp-action="Register" asp-controller="Account">register!</a></h2>

<form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal" role="form">

	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="form-group">
		<label asp-for="UserName" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="UserName" class="form-control" />
			<span asp-validation-for="UserName" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group">
		<label asp-for="Password" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Password" class="form-control" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-primary" value="Log in" />
		</div>
	</div>
</form>

	<div class="col-md-12">
		<section>


			<h4>Or login using your google account!</h4>
			<a class="btn btn-info" asp-action="GoogleLogin" asp-route-returnUrl="@Model.ReturnUrl">
				Google
			</a>
		</section>
	</div>







