@model IEnumerable<CSC273_NTebeje_Final_Project.Components.AdminMenuItem>

<li >
	<a asp-controller="Admin"
	   asp-action="UserManagement">Manage Users</a>
	
</li>

<li>
	<a asp-controller="Admin"
	   asp-action="RoleManagement">Manage Roles</a>

</li>